@keyframes spin {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}
body {
    /* your styles here */
    color: teal;
    font-family: 'Permanent Marker', cursive;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }
  
  h1, #designed-by {
    /* your styles here */
    text-align: center;
  }

  #designed-by {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: violet;
  }

  
  .style1 {
    background-color: black;
    border: dotted white 10pt;
  }
  
  .style2 {
    background-color: black;
    border: dotted white 10pt;
  }
  
  .style3 {
    background-color: black;
    border: dotted white 10pt;
  }
  
  .style4 {
    background-color: black;
    border: dotted white 10pt;
  }
  
  .style5 {
    background-color: black;
    border: dotted white 10pt;
  }
  
  .style6 {
    background-color: black;
    border: dotted white 10pt;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
    animation: spin 2s infinite linear;
  }